.about-section {
  background-color: #fff;
  background-image: url(../images/fundal_despre_home.png);
  padding: 80px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  .button-chevron {
    font-size: 0.6rem;
    padding-left: 5px;
    vertical-align: middle;
  }

  .icon {
    width: 96px;
    height: 96px;
    border: 3px solid #c33;
    border-radius: 50%;
    margin: 0 auto;
    background: #fff;
  }

  .icon img,
  .icon object {
    width: 90px;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .cta {
    font-family: 'Roboto Slab', serif;
    font-size: 1.777em;
    color: #666;
    font-weight: normal;
    padding-top: 10px;
    margin-bottom: 25px !important;
    line-height: 32px;
  }

  .cta.oras-inteligent {
    max-width: 240px;
    margin: 0 auto;
  }

  .cta.alba-iulia {
    max-width: 200px;
    margin: 0 auto;
  }

  .button {
    color: $albaRed;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #c33;
    box-shadow: 0 2px 2px #999;
    margin-top: 10px;
    display: inline-block;
    background: #fff;
  }

  .button:hover {
    background: $albaRed;
    color: #fff;
    animation: fadeIn 0.5s ease;
    text-decoration: none;
  }
}

@include media-breakpoint-down(sm) {
  a.button {
    width: 100%;
  }

  .about-section .cta {
    font-size: 1.3em;
  }
}
