.page-header-secondary {
  position: relative;
  min-height: 300px;
}

.page-header-secondary::before {
  background: url(../images/colaj_top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  content: ' ';
  z-index: -1;
}

.page-header-secondary h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4.2em;
  color: #fff;
  padding-top: 110px;
}

.page-header-secondary .stats {
  text-align: center;
  padding: 20px 0;
}

.page-header-secondary .circle {
  color: #fff;
  background: #369;
  width: 6em;
  height: 6em;
  border: 2px solid #fff;
  font-family: 'Roboto Slab', serif;
  border-radius: 50%;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}

.page-header-secondary .circle .count {
  margin-top: 10px;
  font-size: 2em;
  font-weight: medium;
}

.page-header-secondary .circle .label {
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 0.8em;
}

@include media-breakpoint-down(sm) {
  .page-header-secondary .circle {
    color: #fff;
    background: #369;
    width: 5.5em;
    height: 5.5em;
    border: 2px solid #fff;
    font-family: 'Roboto Slab', serif;
    border-radius: 50%;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
  }

  .page-header-secondary .circle .label {
    font-size: 0.7em;
  }

  .page-header-secondary h1 {
    font-size: 3em;
  }
}
