html,
body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

main {
  width: 100%;
}

h1 {
  font-size: 3.157em;
}

h2 {
  margin: 100px 0 60px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.369em;
  font-weight: 100;
}
