$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$slick-font-path: "~slick-carousel/slick/fonts/";
// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";
