@import "../components/_project-box.scss";

$albaRed: #cc3234;

.home {
  background: #eee;
}

.home .page-header {
  position: relative;
  min-height: 450px;
  background: url(../images/header_home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.home .page-header .motto {
  bottom: 120px;
  margin-left: 80px;
  position: absolute;
}

.home .page-header .title,
.home .page-header .title::after {
  background-color: #fff;
}

.home .page-header .title {
  position: relative;
  line-height: 1;
  color: $albaRed;
  display: inline;
  white-space: pre-wrap;
  border: 0 solid #fff;
}

.home .page-header .title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 10px;
}

.home .page-header .title > span {
  position: relative;
  z-index: 1;
  padding-right: 10px;
}

.home .holder {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 40px;
  margin-bottom: 120px;
}

.home .holder svg {
  width: 100%;
  height: auto;
}

.home .holder svg path {
  fill-opacity: 0;
  stroke-width: 0.1;
  stroke: #ccc;
}

.home .holder svg line {
  stroke: #555;
  stroke-width: 1;
}

.home .filterwrapper {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}

.home .star h2 {
  text-align: center;
  font-weight: 300;
}

.home .top-r,
.home .bot-r,
.home .top-g,
.home .bot-g {
  stroke: #fff;
}

.home .top-r {
  stroke-width: 100px;
  animation: topani 3.5s linear infinite;
}

.home .bot-r {
  stroke-width: 100px;
  animation: botani 4s linear infinite;
}

.home .top-g {
  stroke-width: 50px;
  animation: topani 4s linear reverse infinite;
}

.home .bot-g {
  stroke-width: 50%;
  animation: botani 3.5s linear reverse infinite;
}

@mixin createRandomKeyframes( $numberOfKeys ) {
  $delta: round(100/$numberOfKeys);

  @for $i from 1 through $numberOfKeys {
    $time: ($i*$delta - random($delta)) +'%';

    #{$time} {
      stroke-width: random(200) + px;
    }
  }
}

@keyframes topani {
  @include createRandomKeyframes( 10 + random(10) );
}

@keyframes botani {
  @include createRandomKeyframes( 10 + random(10) );
}

.home .about-section {
  background: #fff;
  padding: 80px 0;
}

.home .about-section .icon {
  color: $albaRed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid $albaRed;
  position: relative;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

.home .about-section .cta {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  color: #333;
  margin-bottom: 25px !important;
  line-height: 32px;
}

.home .about-section .cta.oras-inteligent {
  width: 240px;
  margin: 0 auto;
}

.home .about-section .cta.alba-iulia {
  width: 240px;
  margin: 0 auto;
}

.home .about-section .button {
  color: $albaRed;
  text-transform: uppercase;
}

.home .about-section .button:hover {
  text-decoration: none;
}

/* stylelint-disable */
.home .project-section .button {
  color: $albaRed;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 80px;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 3px;
  border: 2px solid $albaRed;
}

.home .project-section .button:hover {
  background: $albaRed;
  color: #fff;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    background-color: transparent;
    color: $albaRed;
  }
  100% {
    background-color: $albaRed;
    color: #fff;
  }
}
/* stylelint-enable */
