@import "../components/_project-box.scss";

$albaRed: #cc3234;

.home {
  background: #eee;
}

.home .page-header {
  position: relative;
  min-height: 450px;
  background: url(../images/header_home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.home .page-header .motto {
  bottom: 120px;
  margin-left: 4em;
  position: absolute;
}

.home .page-header .title,
.home .page-header .title::after {
  background-color: #fff;
}

.home .page-header .title {
  position: relative;
  line-height: 1;
  color: $albaRed;
  display: inline;
  white-space: pre-wrap;
  border: 0 solid #fff;
}

.home .page-header .title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 10px;
}

.home .page-header .title > span {
  position: relative;
  z-index: 1;
  padding-right: 10px;
}

.home .holder {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 40px;
  margin-bottom: 120px;
}

.home .holder svg {
  width: 100%;
  height: auto;
}

.home .holder svg path {
  fill-opacity: 0;
  stroke-width: 0.1;
  stroke: #666;
}

.home .holder svg line {
  stroke: #555;
  stroke-width: 1;
}

.home .filterwrapper {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}

.home .star h2 {
  text-align: center;
  font-weight: 300;
}

.home .top-r,
.home .bot-r,
.home .top-g,
.home .bot-g {
  stroke: #fff;
}

.home .top-r {
  stroke-width: 100px;
  animation: topani 3.5s linear infinite;
}

.home .bot-r {
  stroke-width: 100px;
  animation: botani 4s linear infinite;
}

.home .top-g {
  stroke-width: 50px;
  animation: topani 4s linear reverse infinite;
}

.home .bot-g {
  stroke-width: 50%;
  animation: botani 3.5s linear reverse infinite;
}

@mixin createRandomKeyframes( $numberOfKeys ) {
  $delta: round(100/$numberOfKeys);

  @for $i from 1 through $numberOfKeys {
    $time: ($i*$delta - random($delta)) +'%';

    #{$time} {
      stroke-width: random(200) + px;
    }
  }
}

@keyframes topani {
  @include createRandomKeyframes( 10 + random(10) );
}

@keyframes botani {
  @include createRandomKeyframes( 10 + random(10) );
}

.home .about-section {
  background: #fff;
  padding: 80px 0;
}

.home .about-section .icon {
  color: $albaRed;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid $albaRed;
  position: relative;
  font-size: 2.369em;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

.home .about-section .cta {
  font-family: 'Roboto Slab', serif;
  font-size: 1.777em;
  color: #333;
  margin-bottom: 25px !important;
  line-height: 32px;
}

.home .about-section .cta.oras-inteligent {
  max-width: 240px;
  margin: 0 auto;
}

.home .about-section .cta.alba-iulia {
  max-width: 240px;
  margin: 0 auto;
}

.home .about-section .button,
.home .blog-section .button {
  color: $albaRed;
  text-transform: uppercase;
}

.home .about-section .button:hover,
.home .blog-section .button:hover {
  text-decoration: none;
}

/* stylelint-disable */
.home .project-section .button,
.home .blog-section .button {
  color: $albaRed;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 80px;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 3px;
  border: 2px solid $albaRed;
}

.home .blog-section .button {
  margin-bottom: 0;
}

.home .project-section .button:hover,
.home .blog-section .button:hover {
  background: $albaRed;
  color: #fff;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    background-color: transparent;
    color: $albaRed;
  }
  100% {
    background-color: $albaRed;
    color: #fff;
  }
}

.home .blog-section .article-box a {
  border: 1px solid #666;
  color: $albaRed;
  margin-top: 30px;
  padding: 8px 20px;
  display: inline-block;
  text-decoration: none;
}

.home .blog-section .article-box a:hover {
  background: $albaRed;
  border-color: $albaRed;
  color: #fff;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    background-color: transparent;
    color: $albaRed;
  }
  100% {
    background-color: $albaRed;
    border-color: $albaRed;
    color: #fff;
  }
}
/* stylelint-enable */

.home .trivia-section {
  background: #fc6;
  padding: 4em 0;
  border-top: 1px solid #fff;
}

.home .trivia-section .icon.child svg path {
  fill: none;
  stroke: #666;
  stroke-width: 30;
}

.home .trivia-section .icon {
  color: #666;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #666;
  position: relative;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}

.home .trivia-section .cta {
  margin-top: 25px;
  font-size: 1em;
  color: #666;
  font-family: 'Roboto', sans-serif;
}

.home .trivia-section .cta b {
  text-transform: uppercase;
  display: block;
  font-size: 2.369em;
  line-height: 36px;
  font-weight: 700;
}

.home .blog-section h2 {
  margin-bottom: 2em;
}

.home .blog-section .article-box img {
  width: 100%;
  margin: 20px 0;
}

.home .blog-section .article-box h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.333em;
  line-height: 1em;
}

.home .counter-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/projects_full_header.jpg);
  position: relative;
  text-align: center;
  margin-top: 80px;
}

.home .counter-section::before {
  content: " ";
  background: $albaRed;
  opacity: 0.8;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.home .counter-section .count {
  font-size: 66px;
  font-weight: bold;
  color: #fff;
}

.home .counter-section .label {
  color: #fff;
  margin-top: -15px;
  font-size: 18px;
}

.home .partners-section {
  margin-bottom: 120px;
}

.home .partners-section .partner img {
  height: 50px;
  margin: 0 40px;
}

.home .partners-section .partners-carousel {
  padding: 0 60px;
}

/* stylelint-disable */
.home .partners-section .partners-carousel .slick-prev::before,
.home .partners-section .partners-carousel .slick-next::before {
  font-family: FontAwesome;
  color: #999;
  font-size: 24px;
}
/* stylelint-enable */

.home .partners-section .partners-carousel .slick-prev::before {
  content: '\f053';
}

.home .partners-section .partners-carousel .slick-next::before {
  content: '\f054';
}

@include media-breakpoint-down(md) {
  .home .holder {
    //
  }
}

@include media-breakpoint-down(sm) {
  a.button {
    width: 100%;
  }

  .home .blog-section .article-box a {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-width: 2px;
  }

  .home .trivia-section .cta b {
    font-size: 1.333em;
  }

  .home .page-header .motto {
    margin-left: 0;
    bottom: 4em;
  }

  .home .holder {
    width: 90%;
  }

  .home .about-section .cta {
    font-size: 1.333em;
  }
}
