body.blog .article-wrap .post-listing {
  transition: all 0.2s ease;
}

body.blog .article-wrap .post-listing:hover {
  box-shadow: 2px 2px 3px #999;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

body.blog .posts {
  padding-bottom: 100px;
}

body.blog .blog-container {
  background: #eee;
}

body.blog .filters {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;

  &::after {
    content: '';
    display: block;
    border-bottom: 1px solid #ccc;
    clear: both;
    padding-top: 15px;
  }
}

body.blog .filters .powered-by {
  color: #ccc;
  top: -8px;
  text-align: center;
  right: -80px;
  display: inline-block;
  position: absolute;

  .logo {
    font-size: 2rem;
  }

  .tagline {
    display: block;
    font-size: 0.8rem;
    margin-top: -10px;
  }
}

article.post-listing a {
  display: block;
  text-decoration: none;
  width: 100%;
  border: 1px solid #999;
  background: #fff;
  margin-top: 15px;
  font-size: 16px;
  position: relative;
}

article.post-listing a em {
  background: #faebd7;
  font-style: normal;
}

article.post-listing a:hover {
  border-color: #f00;

  h2 {
    color: #f00;
  }
}

article.post-listing img {
  width: 100%;
}

article.post-listing .category {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-bottom: 5px;
  color: #f00;
  text-transform: uppercase;
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;

  &::after {
    content: ' ';
    width: 50%;
    border-bottom: 1px solid #333;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

$articleExcerptFontSize: 1.4rem;
$articleExcerptLines: 3;
$articleExcerptLineHeight: 1.4;

article.post-listing h2.entry-title {
  font-size: $articleExcerptFontSize;
  line-height: $articleExcerptLineHeight;
  display: block;
  display: -webkit-box;
  height: $articleExcerptFontSize*$articleExcerptLineHeight*$articleExcerptLines;
  -webkit-line-clamp: $articleExcerptLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
  margin-right: 0;
  color: #333;
  text-align: left;
  text-transform: none;
  font-weight: 500;
  padding-right: 10px;
}

article.post-listing .meta {
  margin-top: 20px;
  font-size: 0.75rem;
  color: #999;
  padding-bottom: 10px;
}

body.blog #search-box,
body.blog #algolia-search-box {
  display: inline-block;
  margin: unset;
  width: 300px;
}

body.blog #categorii a:hover {
  text-decoration: none;
  color: #666;
}

body.blog #categorii {
  display: inline-block;
  line-height: 62px;
  height: 62px;
}

body.blog #categorii .ais-refinement-list--item {
  display: inline-block;
  margin-right: 15px;
}

body.blog #categorii .ais-refinement-list--item:last-child {
  margin-right: 20px;
}

body.blog #categorii .ais-refinement-list--item a {
  font-size: 14px;
  color: #999;
  position: relative;
  padding-left: 0;
}

body.blog #categorii .ais-refinement-list--item__active a,
body.blog #categorii .ais-refinement-list--item a:hover {
  background: unset;
  color: #c33;
}

body.blog #categorii .ais-refinement-list--item a span {
  position: absolute;
  top: 0;
  right: 6px;
  font-weight: 200;
  text-transform: lowercase;
  background: #c33;
  color: #fff;
}

body.blog #categorii .ais-refinement-list--list {
  display: inline;
}

body.blog .article-wrap {
  padding: 0 8px;
}

body.blog .posts.row {
  margin: 0 -8px;
}

body.blog .article-wrap header {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

body.blog .article-wrap header img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@include media-breakpoint-down(sm) {
  body.blog #categorii {
    display: block;
    margin-bottom: 15px;
    height: unset;
  }
}
