body.contact h2,
body.contact-2 h2 {
  margin-top: 65px;
  padding: 15px;
}

body.contact .contact-form .pirate-forms-fields-container .col-sm-6,
body.contact-2 .contact-form .pirate-forms-fields-container .col-sm-6 {
  min-width: 100%;
}

body.contact .pirate-forms-submit-button,
body.contact-2 .pirate-forms-submit-button {
  cursor: pointer;
  color: $albaRed;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #c33;
  box-shadow: 0 2px 2px #999;
  margin-top: 10px;
  display: inline-block;
  background-color: transparent;
}

body.contact .pirate-forms-submit-button:hover,
body.contact-2 .pirate-forms-submit-button:hover,
body.contact .pirate-forms-submit-button:active,
body.contact-2 .pirate-forms-submit-button:active {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #c33 !important;
  box-shadow: 0 2px 2px #999 !important;
  margin-top: 10px;
  display: inline-block;
  background-color: #c33 !important;
}

body.contact .pirate-forms-submit-button:focus,
body.contact-2 .pirate-forms-submit-button:focus {
  box-shadow: 0 2px 2px #999;
}

body.contact .contact-form .form-control:focus,
body.contact-2 .contact-form .form-control:focus {
  border: 2px solid #369;
  box-shadow: none;
}

.home .blog-section .button:hover {
  background: $albaRed;
  color: #fff;
  animation: fadeIn 0.5s ease;
  text-decoration: none;
}

body.contact .map-container,
body.contact-2 .map-container {
  width: 100%;
  height: 400px;
}

body.contact .address,
body.contact-2 .address {
  margin-bottom: 25px;
  padding: 15px;
  padding-top: 0;
}

body.contact .address a,
body.contact-2 .address a {
  color: unset;
  font-weight: bold;
}

body.contact .address a.no-break,
body.contact-2 .address a.no-break {
  display: inline-block;
}

body.contact .address a:hover,
body.contact-2 .address a:hover {
  text-decoration: none;
  color: #c33;
}

body.contact .address span,
body.contact-2 .address span {
  display: inline-block;
}

body.contact .address span:first-child,
body.contact-2 .address span:first-child {
  min-width: 30px;
  text-align: center;
  margin-right: 12px;
}

body.contact .address .address-row,
body.contact-2 .address .address-row {
  margin-bottom: 8px;
  display: flex;
}
