body.contact h2 {
  margin-top: 80px;
}

body.contact .contact-form .pirate-forms-fields-container .col-sm-6 {
  min-width: 100%;
}

body.contact .pirate-forms-submit-button {
  cursor: pointer;
  color: $albaRed;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #c33;
  box-shadow: 0 2px 2px #999;
  margin-top: 10px;
  display: inline-block;
  background-color: transparent;
}

body.contact .pirate-forms-submit-button:hover {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #c33;
  box-shadow: 0 2px 2px #999;
  margin-top: 10px;
  display: inline-block;
  background-color: #c33;
}

body.contact .pirate-forms-submit-button:focus {
  box-shadow: 0 2px 2px #999;
}

.home .blog-section .button:hover {
  background: $albaRed;
  color: #fff;
  animation: fadeIn 0.5s ease;
  text-decoration: none;
}

body.contact .map-container {
  width: 100%;
  height: 400px;
}

body.contact .address {
  margin-bottom: 25px;
  padding: 15px;
}
