@import "../components/_page-header.scss";

article.type-despre {
  font-size: 16px;
}

article.type-despre .entry-title {
  margin-top: 60px;
  font-weight: 300;
  color: #f00;
  margin-bottom: 50px;
  font-size: 2.8rem;
}

article.type-despre .dropdown .btn {
  color: $albaRed;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #c33;
  box-shadow: 0 2px 2px #999;
  margin-top: 10px;
  display: inline-block;
  background: transparent;
}

article.type-despre .dropdown .btn:focus {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #c33;
  box-shadow: 0 2px 2px #999;
  margin-top: 10px;
  display: inline-block;
  background: #c33;
}

article.type-despre .dropdown .dropdown-menu {
  width: 100%;
}

article.type-despre .dropdown .dropdown-menu a {
  height: 44px;
  line-height: 44px;
  margin: 5px 0;
}

article.type-despre .article-meta {
  font-size: 2.2rem;
  color: #999;
  margin-bottom: 50px;
}

article.type-despre .article-meta span {
  display: block;
  font-size: 0.85rem;
  color: #333;
}

article.type-despre .article-meta .meta div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

article.type-despre .article-meta .meta .icon {
  width: 3rem;
  text-align: center;
}

article.type-despre .article-meta .meta svg {
  vertical-align: middle;
}

article.type-despre .article-meta .value {
  font-weight: bold;
}

article.type-despre .article-meta .avatar {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
  border-radius: 50%;
  vertical-align: middle;
}

article.type-despre .article-meta .author a {
  color: #333;
  text-decoration: none;
}

article.type-despre .entry-content {
  margin-bottom: 80px;
}

article.type-despre .entry-content figure,
article.type-despre .entry-content img {
  width: 100% !important;
}

article.type-despre .entry-content .embed-container {
  margin: 40px auto;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  //height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

article.type-despre .article-container {
  background: #eee;
}

article.type-despre .article-container .section {
  position: relative;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #999;

  &::after {
    width: calc(50% - 120px);
    content: ' ';
    border-bottom: 1px solid #999;
    position: absolute;
    right: 0;
    top: 50%;
  }

  &::before {
    width: calc(50% - 120px);
    content: ' ';
    border-bottom: 1px solid #999;
    position: absolute;
    left: 0;
    top: 50%;
  }
}

article.type-despre .article-container .section.larger {
  &::after {
    width: calc(50% - 600px);
  }

  &::before {
    width: calc(50% - 600px);
  }
}

article.type-despre .article-container .section .content {
  width: 160px;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
}

article.type-despre .article-container .section.larger .content {
  width: 600px;
}

article.type-despre .article-container .section h4 {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

article.type-despre .sidebar {
  padding-left: 80px;
}

article.type-despre .sidebar h3 {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

article.type-despre .sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

article.type-despre .sidebar ul li {
  padding-bottom: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-image: linear-gradient(to right, black 23%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 5px 1px;
  background-repeat: repeat-x;
  position: relative;
}

article.type-despre .sidebar ul li a.category-link {
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

article.type-despre .sidebar ul li a.category-link.current span {
  color: #c33;
}

article.type-despre .sidebar ul li .category {
  color: #666;
  font-weight: bold;

  &::before {
    content: '\f054';
    font-family: FontAwesome, serif;
    font-weight: normal;
    font-size: 0.8rem;
    margin-right: 5px;
  }
}

article.type-despre .sidebar ul li a.category-link:hover .category {
  color: #333;
}

article.type-despre .sidebar ul li .count {
  position: absolute;
  right: 0;
  padding: 0 4px;
  background: #999;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
}

article.type-despre .sidebar ul li a.category-link:hover .count {
  background: #333;
}

article.type-despre .articles {
  margin-bottom: 80px;
}

article.type-despre .button {
  color: $albaRed;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 80px;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 3px;
  border: 2px solid $albaRed;
  background: transparent;
}

article.type-despre .button:hover {
  background: $albaRed;
  color: #fff;
  animation: fadeIn 0.5s ease;
}

#accordion {
  margin: 20px auto;
}

#accordion button {
  cursor: pointer;
  text-transform: initial;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 0.8rem 1.25rem;
  text-decoration: none;
  transition: 0.7s transform fade-in;
  background: none;
  border-bottom: none;
  color: #333;
}

#accordion button,
#accordion h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
}

#accordion h3 {
  font-size: 1.6em;
  color: #f00;
  margin-bottom: 25px;
}

#accordion button:hover {
  text-decoration: none;
}

#accordion .pdf-download a {
  color: #333;
  font-size: 1em;
  font-weight: bold;
}

#accordion .pdf-download a:hover {
  text-decoration: none;
  color: #f00;
}

#accordion .card {
  border: 0;
  border-radius: 0;
}

#accordion .card-header {
  border-color: #999;
  padding: 0;
}

#accordion .card-header svg {
  transition: 0.3s transform ease-in-out;
  float: right;
  transform: rotate(180deg);
}

#accordion .card-header .collapsed svg {
  transform: rotate(0deg);
}
