footer.content-info {
  height: 100%;
  background: #333;
  border-top: 2px solid #fff;
  color: #999;
  padding-bottom: 20px;
}

footer.content-info a {
  color: unset;
}

footer.content-info a:hover,
footer.content-info a:focus,
footer.content-info .current_page_item a,
footer .menu-footer-container .menu li:first-child > a {
  text-decoration: none;
  font-weight: bold;
  color: #ccc;
}

footer.content-info h4 {
  font-size: unset;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ccc;
}

footer.content-info ul {
  list-style-type: none;
  padding: 0;
}

footer.content-info .skyline {
  background: url(../images/skyline.png);
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
}

footer.content-info .links {
  padding: 60px 0;
}

footer.content-info ul.social li {
  margin: 5px 0;
}

footer.content-info ul.social .icon {
  font-size: 20px;
  margin-right: 5px;
}

footer.content-info .logos {
  padding: 15px 0;
  text-align: left;
}

footer.content-info .alba-iulia-logo {
  margin-top: 1.2rem;
}

footer.content-info .alba-iulia-logo img {
  height: 45px;
  margin-right: 20px;
}

footer.content-info .alba-iulia-logo .text {
  display: inline-block;
  color: #ccc;
}

footer.content-info .author {
  margin-right: 10%;
  display: inline-block;
}

footer.content-info .author .author-logo img {
  height: 25px;
}

footer.content-info .author .coffee,
footer.content-info .author .contribute {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  color: #999;
}

footer.content-info .author .contribute {
  font-size: 13px;
  font-style: italic;
  margin-top: 5px;
  color: #999;
}

@include media-breakpoint-down(md) {
  footer.content-info {
    text-align: center;
  }

  footer.content-info .links {
    padding-top: 0;
  }

  footer.content-info .links h4 {
    margin-top: 40px;
    text-transform: uppercase;
  }

  footer.content-info .links ul.social {
    text-align: left;
    width: 105px;
    margin: 0 auto;
  }

  footer.content-info .logos .alba-iulia-logo {
    float: none !important;
    text-align: left;
  }

  footer.content-info .logos .alba-iulia-logo .text {
    margin-top: 10px;
    text-align: left;
    display: block;
  }

  footer.content-info .logos .author {
    margin-top: 40px;
    text-align: left;
    margin-left: 0;
  }

  footer.content-info .skyline {
    background-size: cover;
    background-position: center;
  }
}

@include media-breakpoint-down(sm) {
  footer.content-info .logos .author.pull-right {
    float: none !important;
    text-align: center;
    margin-right: 0;
  }

  footer.content-info .logos {
    text-align: center;
  }

  footer.content-info .logos .alba-iulia-logo {
    text-align: center;
  }

  footer.content-info .logos .alba-iulia-logo img {
    margin-right: 0;
  }

  footer.content-info .logos .alba-iulia-logo .text {
    text-align: center;
  }
}
