.phone {
  font-size: 14px;
}

.phone svg {
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-right: 8px;
}

.banner #navbarSupportedContent {
  margin-top: 60px;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner .navbar {
  min-height: 115px;
  background: #fff !important;
}

.banner .navbar-container {
  position: relative;
}

.banner .navbar-brand img {
  height: 75px;
}

.banner {
  position: relative;
}

.banner .header-top {
  position: absolute;
  color: #999;
  font-size: 14px;
}

.banner .header-top .language-selector {
  display: inline-block;
}

.banner .header-top .language-selector a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #c33;
}

.banner .header-top .dropdown-menu a {
  left: unset;
  right: 0;
  text-transform: capitalize;
}

.banner .navbar-nav .menu-item a {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  text-transform: uppercase;
  margin-left: 15px;
}

.banner .navbar-nav .current_page_item a,
.banner .navbar-nav .menu-item a:hover,
.banner .navbar-nav .menu-item.is-homepage a {
  color: #c33;
}

.banner .header-top .language-selector a.dropdown-toggle {
  background: transparent;
  padding: 6px 8px;
  margin-left: 12px;
  line-height: 14px;
  border-color: #c33;
  box-shadow: 0 2px 2px #999;
}

.banner .header-top .language-selector a.dropdown-toggle:focus {
  box-shadow: 0 2px 2px #999;
}

.banner .header-top .language-selector a.dropdown-toggle:hover {
  color: #fff;
  background: #c33;
  border-color: #c33;
}

@include media-breakpoint-down(md) {
  .banner #navbarSupportedContent {
    padding-top: 20px;
    z-index: 10;
    position: absolute;
    top: 30px;
    background: rgb(255, 255, 255);
    width: 100%;
    left: 0;
    text-align: center;
    padding-bottom: 10px;
  }

  .banner .navbar-brand img {
    height: 60px;
  }

  .banner .header-top {
    font-size: 0.8rem;
    top: -12px;
    right: 0;
  }

  .banner .navbar-toggler {
    border: none;
    color: #c33;
  }

  .banner .navbar-toggler:focus,
  .banner .navbar-toggler:active {
    outline: none;
  }

  .banner .header-top .language-selector {
    line-height: 14px;
    font-size: 14px;
  }

  .banner .header-top .language-selector a.dropdown-toggle {
    background: transparent;
    line-height: 14px;
    padding: 0;
    border: none;
    box-shadow: none;
    color: unset;
  }

  .banner .header-top .language-selector a.dropdown-toggle:focus {
    box-shadow: none;
  }

  .banner .header-top .language-selector a.dropdown-toggle:hover {
    background: unset;
    color: unset;
  }
}

@include media-breakpoint-up(lg) {
  .banner .header-top {
    right: 20px;
    top: 20px;
  }

  .banner #navbarSupportedContent {
    padding-right: 0;
  }
}
