.banner #navbarSupportedContent {
  margin-top: 60px;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner .navbar {
  height: 115px;
}

.banner .navbar-brand img {
  height: 75px;
}

.banner {
  position: relative;
}

.banner .navbar-nav .menu-item a {
  font-size: 16px;
  font-weight: 500;
  color: #369;
  text-transform: uppercase;
  margin-left: 15px;
}
