.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner .navbar {
  height: 115px;
}

.banner .navbar-brand img {
  height: 75px;
}

.banner {
  position: relative;
}
