.banner #navbarSupportedContent {
  margin-top: 60px;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner .navbar {
  min-height: 115px;
  background: #fff !important;
}

.banner .navbar-brand img {
  height: 75px;
}

.banner {
  position: relative;
}

.banner .navbar-nav .menu-item a {
  font-size: 16px;
  font-weight: 500;
  color: #369;
  text-transform: uppercase;
  margin-left: 15px;
}

@include media-breakpoint-down(md) {
  .banner #navbarSupportedContent {
    padding-top: 20px;
    z-index: 10;
    position: absolute;
    top: 115px;
    background: rgb(255, 255, 255);
    width: 100%;
    left: 0;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 15px;
  }
}
