@import "../components/_page-header.scss";

/* article.type-post .page-header-secondary::before {
  background: url(../images/beige_header_bg.jpg);
  filter: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

article.type-post {
  font-size: 16px;
}

article.type-post .entry-title {
  margin-top: 100px;
  font-weight: 300;
  color: #c33;
  margin-bottom: 50px;
  font-size: 2.8rem;
}

article.type-post .article-cat {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 50px;
  display: inline-block;
  color: #333;
}

article.type-post .social-media a {
  color: unset;
}

article.type-post .social-media a:hover {
  color: #333;
}

article.type-post .article-meta {
  padding: 10px 0;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  font-size: 2.8rem;
  color: #999;
  margin-bottom: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}

article.type-post .article-meta span {
  display: block;
  font-size: 0.85rem;
  color: #333;
}

article.type-post .article-meta .meta {
  display: inline-block;
  margin-right: 35px;
}

article.type-post .article-meta .meta:last-child {
  margin-right: 0;
}

article.type-post .article-meta .meta div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

article.type-post .article-meta .meta .icon {
  width: 3rem;
  text-align: center;
  font-size: 2.2rem;
}

article.type-post .article-meta .meta svg {
  vertical-align: middle;
}

article.type-post .article-meta .value {
  font-weight: bold;
}

article.type-post .article-meta .avatar {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
  border-radius: 50%;
  vertical-align: middle;
}

article.type-post .article-meta .author a {
  color: #333;
  text-decoration: none;
}

article.type-post .entry-content {
  margin-bottom: 40px;
}

article.type-post .entry-content figure,
article.type-post .entry-content img {
  width: 100% !important;
}

article.type-post .entry-content .embed-container {
  margin: 40px auto;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  //height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

article.type-post .article-container {
  background: #eee;
}

article.type-post .article-container .section {
  position: relative;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #999;

  &::after {
    width: calc(50% - 120px);
    content: ' ';
    border-bottom: 1px solid #999;
    position: absolute;
    right: 0;
    top: 50%;
  }

  &::before {
    width: calc(50% - 120px);
    content: ' ';
    border-bottom: 1px solid #999;
    position: absolute;
    left: 0;
    top: 50%;
  }
}

article.type-post .article-container .section.larger {
  &::after {
    width: calc(50% - 600px);
  }

  &::before {
    width: calc(50% - 600px);
  }
}

article.type-post .article-container .section .content {
  width: 160px;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
}

article.type-post .article-container .section.larger .content {
  width: 600px;
}

article.type-post .article-container .section .content .icons div {
  display: inline-block;
  padding: 0 10px;
}

article.type-post .article-container .section h4 {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

article.type-post .sidebar {
  padding-left: 80px;
}

article.type-post .sidebar h3 {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

article.type-post .sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

article.type-post .sidebar ul li {
  padding-bottom: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-image: linear-gradient(to right, black 23%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 5px 1px;
  background-repeat: repeat-x;
  position: relative;
}

article.type-post .sidebar ul li a.category-link {
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

article.type-post .sidebar ul li .category {
  color: #666;
  font-weight: bold;

  &::before {
    content: '\f054';
    font-family: FontAwesome, serif;
    font-weight: normal;
    font-size: 0.8rem;
    margin-right: 5px;
  }
}

article.type-post .sidebar ul li a.category-link:hover .category {
  color: #333;
}

article.type-post .sidebar ul li .count {
  position: absolute;
  right: 0;
  padding: 0 4px;
  background: #999;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
}

article.type-post .sidebar ul li a.category-link:hover .count {
  background: #333;
}

article.type-post .articles {
  margin-bottom: 80px;
}
