@import "../components/circle";
@import "../components/mdl-stepper";

article.type-proiect .intro {
  color: #fff;
}

article.type-proiect .intro .header-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

article.type-proiect .header-image::before {
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
}

article.type-proiect .intro .header-image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: 50%;
}

article.type-proiect .intro .header-image .text {
  text-shadow: 0 0 10px #333;
}

article.type-proiect .intro .metadata {
  padding: 80px 0 30px 0;
}

article.type-proiect .intro h1 {
  color: #fff;
  margin-top: 20px;
}

article.type-proiect .intro .verticala {
  border-bottom: 1px dotted #fff;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  width: 70%;
}

article.type-proiect .intro .extras {
  color: #fff;
  font-size: 16px;
}

article.type-proiect .intro .circle .label {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

article.type-proiect .intro .circle .pictograma {
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  font-size: 60px;
  color: #fff;
  opacity: 0.8;
}

article.type-proiect .intro .row {
  position: relative;
}

article.type-proiect .intro .intro-footer {
  min-height: 60px;
  line-height: 60px;
  color: #fff;
}

article.type-proiect .intro .intro-footer .social {
  text-align: center;
  opacity: 0.8;
}

article.type-proiect .intro .intro-footer .eticheta {
  font-weight: light;
  text-transform: uppercase;
  font-size: 0.8rem;
  opacity: 0.8;
  margin-right: 24px;
}

article.type-proiect .intro .intro-footer .eticheta .pictograma {
  margin-right: 10px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  line-height: 35px;
}

article.type-proiect .intro .intro-footer .cta {
  font-size: 12px;
  text-transform: capitalize;
  line-height: 1;
  padding-top: 18px;
}

article.type-proiect .intro .intro-footer a {
  color: unset;
  font-size: 22px;
}

article.type-proiect .intro .intro-footer a:hover {
  text-decoration: none;
  color: #fff !important;
}

article.type-proiect .etape-proiect h2 {
  margin-bottom: 140px;
}

article.type-proiect .etape-desktop {
  margin-bottom: 150px;
}

article.type-proiect .companii {
  background: #e4e4e4;
  min-height: 300px;
  text-align: center;
}

article.type-proiect .companii .col-12:not(.first) {
  padding-bottom: 45px;
}

article.type-proiect .companii h3 {
  margin-top: 60px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  color: #366;
  width: 100%;
}

article.type-proiect .companii h3::after {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  content: ' ';
  border-bottom: 1px dotted #366;
  margin-top: 20px;
}

article.type-proiect .companii .row {
  height: 100%;
}

article.type-proiect .companii .companie {
  margin: 0 auto;
}

article.type-proiect .companii .first {
  border-right: 2px solid #fff;
}

article.type-proiect .companii .companie .logo {
  height: 50px;
}

article.type-proiect .companii .companie .logo img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

article.type-proiect .companii .parteneri-carousel,
article.type-proiect .companii .furnizori-carousel {
  width: 220px;
  padding: 0 30px;
  margin: 0 auto;
}

article.type-proiect .companii .companie .contact {
  margin-top: 25px;
}

article.type-proiect .companii .companie .contact a {
  color: #699;
  margin: 0 10px;
  text-decoration: none;
}

article.type-proiect .companii .companie .location {
  margin-top: 5px;
  color: #999;
}

article.type-proiect .proiect-content {
  margin-top: 100px;
  color: #333;
  margin-bottom: 140px;
}

article.type-proiect .proiect-content h3 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-size: 24px;
}

article.type-proiect .proiect-content .tab-pane {
  padding-top: 60px;
}

article.type-proiect .proiect-content .nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  position: relative;
  border-bottom: 1px solid #ccc;

  /* Metro wizardry */
  -ms-scroll-chaining: none;
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: snapinterval(0%, 50%);
  -ms-overflow-style: none;
}

article.type-proiect .proiect-content .nav-tabs::-webkit-scrollbar {
  display: none;
}

article.type-proiect .proiect-content .nav-tabs .nav-tabs > li {
  float: none;
}

article.type-proiect .proiect-content .nav-tabs .nav-item {
  margin: 0 20px;
  margin-bottom: -3px;
}

article.type-proiect .proiect-content .nav-link {
  text-transform: uppercase;
  color: #666;
}

article.type-proiect .proiect-content .nav-link.active,
article.type-proiect .proiect-content .nav-link:hover,
article.type-proiect .proiect-content .nav-link:focus {
  font-weight: bold;
  color: #099;
  border: 0;
  box-shadow: inset 0 -5px 0;
}

article.type-proiect .statistici {
  min-height: 300px;
  background: #8ebcbc;
}

article.type-proiect .statistici .row {
  height: 100%;
}

article.type-proiect .statistici .statistici-box {
  text-align: center;
}

article.type-proiect .statistici .counter {
  color: #fff;
  font-size: 72px;
  font-weight: bold;
}

/* stylelint-disable */
article.type-proiect .statistici .label {
  color: #066;
  font-size: 17px;
  text-transform: capitalize;
}

article.type-proiect .project-reviews {
  margin-top: 50px;
}

article.type-proiect .project-gallery.desktop-gallery {
  width: 100%;
  padding-top: 140%;
  background-size: cover;
  background-position: center;
  display: block;
}

article.type-proiect .project-gallery.mobile-gallery {
  text-decoration: none;
  color: #999;
  margin-bottom: 20px;
  display: block;
}

article.type-proiect .project-gallery.mobile-gallery:hover {
  text-decoration: none;
  color: #333;
}

article.type-proiect .project-gallery.mobile-gallery svg {
  margin-right: 5px;
}

/* stylelint-enable */

article.type-proiect #protocol a {
  text-decoration: none;
}

@include media-breakpoint-down(md) {
  article.type-proiect .intro .circle {
    margin-top: 20px;
  }

  article.type-proiect .intro .intro-footer .eticheta {
    line-height: 2rem;
  }

  article.type-proiect .intro .intro-footer .eticheta .pictograma {
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    border: none;
    height: unset;
    font-size: 1rem;
    width: 1.2rem;
  }

  article.type-proiect .intro .intro-footer .social a {
    max-height: 44px;
    font-size: 24px;
    line-height: 44px;

    svg {
      vertical-align: top;
    }
  }

  article.type-proiect .intro .intro-footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@include media-breakpoint-down(sm) {
  article.type-proiect .proiect-content {
    margin-top: 50px;
  }

  @keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .slideInRight {
    animation-name: slideInRight;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: both;
    width: 20%;
    margin: 0 auto;
    transition: all 0.5s ease-out;
    line-height: 35px;
    margin-bottom: 15px;
    opacity: 0.6;
  }
}
