@import "../components/circle";
@import "../components/mdl-stepper";

article.type-proiect .intro {
  color: #fff;
}

article.type-proiect .intro .header-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

article.type-proiect .header-image::before {
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #099;
  opacity: 0.8;
}

article.type-proiect .intro .metadata {
  padding: 80px 0 30px 0;
}

article.type-proiect .intro h1 {
  color: #fff;
  margin-top: 20px;
}

article.type-proiect .intro .verticala {
  border-bottom: 1px dotted #cff;
  font-size: 16px;
  text-transform: uppercase;
  color: #cff;
  width: 70%;
}

article.type-proiect .intro .extras {
  color: #cff;
  font-size: 16px;
}

article.type-proiect .intro .circle .label {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

article.type-proiect .intro .circle .pictograma {
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  font-size: 60px;
  color: #cff;
}

article.type-proiect .intro .row {
  position: relative;
}

article.type-proiect .intro .intro-footer {
  min-height: 60px;
  background: #017a75;
  line-height: 60px;
  color: #cff;
}

article.type-proiect .intro .intro-footer .social {
  text-align: center;
}

article.type-proiect .intro .intro-footer .eticheta {
  font-weight: light;
  margin-right: 20px;
  text-transform: uppercase;
}

article.type-proiect .intro .intro-footer .eticheta .pictograma {
  margin-right: 10px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #cff;
  text-align: center;
  line-height: 35px;
}

article.type-proiect .intro .intro-footer .cta {
  display: inline-block;
  font-size: 12px;
  width: 50px;
  line-height: 12px;
  text-transform: capitalize;
  margin-right: 20px;
}

article.type-proiect .intro .intro-footer a {
  color: unset;
  margin-right: 10px;
  font-size: 22px;
}

article.type-proiect .intro .intro-footer a:hover {
  text-decoration: none;
  color: #fff;
}

article.type-proiect .etape-proiect h2 {
  margin-bottom: 140px;
}

article.type-proiect .companii {
  background: #e4e4e4;
  min-height: 300px;
  margin-top: 150px;
  text-align: center;
}

article.type-proiect .companii h3 {
  margin-top: 60px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  font-weight: light;
  color: #366;
}

article.type-proiect .companii h3::after {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  content: ' ';
  border-bottom: 1px dotted #366;
  margin-top: 20px;
}

article.type-proiect .companii .row {
  height: 100%;
}

article.type-proiect .companii .companie {
  margin: 0 auto;
}

article.type-proiect .companii .first {
  border-right: 2px solid #fff;
}

article.type-proiect .companii .companie .logo {
  height: 50px;
}

article.type-proiect .companii .companie .logo img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

article.type-proiect .companii .parteneri-carousel,
article.type-proiect .companii .furnizori-carousel {
  width: 220px;
  padding: 0 30px;
  margin: 0 auto;
}

article.type-proiect .companii .companie .contact {
  margin-top: 25px;
}

article.type-proiect .companii .companie .contact a {
  color: #699;
  margin: 0 10px;
}

article.type-proiect .companii .companie .location {
  margin-top: 5px;
  color: #999;
}

article.type-proiect .proiect-content {
  margin-top: 100px;
  color: #333;
  margin-bottom: 140px;
}

article.type-proiect .proiect-content h3 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  font-size: 24px;
}

article.type-proiect .proiect-content .tab-pane {
  padding-top: 60px;
}

article.type-proiect .proiect-content .nav-tabs {
  border-bottom: 2px solid #ccc;
}

article.type-proiect .proiect-content .nav-tabs .nav-item {
  margin: 0 20px;
  margin-bottom: -3px;
}

article.type-proiect .proiect-content .nav-link {
  text-transform: uppercase;
  color: #666;
}

article.type-proiect .proiect-content .nav-link.active,
article.type-proiect .proiect-content .nav-link:hover,
article.type-proiect .proiect-content .nav-link:focus {
  font-weight: bold;
  color: #099;
  border: 0;
  border-bottom: 4px solid #099;
}

article.type-proiect .statistici {
  min-height: 300px;
  background: #8ebcbc;
}

article.type-proiect .statistici .row {
  height: 100%;
}

article.type-proiect .statistici .statistici-box {
  text-align: center;
}

article.type-proiect .statistici .counter {
  color: #fff;
  font-size: 72px;
  font-weight: bold;
}

/* stylelint-disable */
article.type-proiect .statistici .label {
  color: #066;
  font-size: 17px;
  text-transform: capitalize;
}
/* stylelint-enable */
