@import "../components/_project-box.scss";

.solutii .page-header,
.projects .page-header {
  position: relative;
  min-height: 300px;
}

.solutii .page-header::before,
.projects .page-header::before {
  background: url(../images/projects_full_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  position: absolute;
  width: 100%;
  height: 100%;
  content: ' ';
  z-index: -1;
}

.solutii .page-header h1,
.projects .page-header h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
  padding-top: 110px;
}

.solutii .page-header .stats,
.projects .page-header .stats {
  text-align: center;
  padding: 20px 0;
}

.solutii .page-header .circle,
.projects .page-header .circle {
  color: #fff;
  background: #999;
  width: 5em;
  height: 5em;
  border: 2px solid #fff;
  font-family: 'Roboto Slab', serif;
  border-radius: 50%;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}

.solutii .page-header .circle .count,
.projects .page-header .circle .count {
  margin-top: 10px;
  font-size: 1.6em;
}

.solutii .page-header .circle .label,
.projects .page-header .circle .label {
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 0.7em;
}

.solutii .solutii-listing,
.projects .solutii-listing {
  min-height: 100px;
  background: #e2e2e2;
  padding: 100px 0;
}

.solutii .filter-input,
.projects .filter-input {
  display: inline-block;
  margin-right: 20px;
}

.solutii .search-filter,
.projects .search-filter {
  width: 40%;
}

.solutii .filter-input button,
.projects .filter-input button {
  background-color: #fff;
  color: #369;
  border-color: #ccc;
}

.solutii .filters,
.projects .filters {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.solutii .powered-by,
.projects .powered-by {
  display: inline-block;
  opacity: 0.6;
  font-size: 1rem;
  margin-left: 16px;
}

.solutii .ais-search-box--input,
.projects .ais-search-box--input {
  box-shadow: none;
  color: #369;
  width: 300px;
  font-family: 'Roboto', sans-serif;
}

