@import "../components/_project-box.scss";
@import "../components/_page-header.scss";

.solutii .solutii-listing,
.projects .solutii-listing {
  min-height: 100px;
  background: #e2e2e2;
  padding: 100px 0;
}

.solutii .filter-input,
.projects .filter-input {
  display: inline-block;
  margin-right: 20px;
}

.solutii .search-filter,
.projects .search-filter {
  width: 40%;
}

.solutii .filter-input button,
.projects .filter-input button {
  background-color: #fff;
  color: #369;
  border-color: #ccc;
}

.solutii .filters,
.projects .filters {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.solutii .powered-by,
.projects .powered-by {
  display: inline-block;
  opacity: 0.6;
  font-size: 1rem;
  margin-left: 16px;
}

.solutii .ais-search-box--input,
.projects .ais-search-box--input {
  box-shadow: none;
  color: #369;
  width: 300px;
  font-family: 'Roboto', sans-serif;
}

