@import "../components/_project-box.scss";
@import "../components/_page-header.scss";

$albaRed: #cc3234;

#search-box {
  width: 75%;
  margin: 0 auto;
}

#search-box .input-group {
  height: 44px;
}

#search-box .dropdown-toggle {
  color: #69c;
  background: #fff;
}

#search-box .dropdown-toggle:hover,
#search-box .dropdown-toggle:focus, {
  background: #69c;
  color: #fff;
}

.solutii .solutii-listing,
.projects .solutii-listing {
  min-height: 100px;
  background: #e2e2e2;
  padding: 100px 0;
}

.solutii .filter-input,
.projects .filter-input {
  display: inline-block;
  margin-right: 20px;
}

.solutii .search-filter,
.projects .search-filter {
  width: 40%;
}

.solutii .btn:active,
.projects .btn:active,
.solutii .btn:focus,
.projects .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.solutii .filters .filter,
.projects .filters .filter {
  background-color: #fff;
  color: #369;
  border-color: #ccc;
}

.solutii .filters .facets-selector-wrapper,
.projects .filters .facets-selector-wrapper,
.solutii .filters .search-box-wrapper,
.projects .filters .search-box-wrapper {
  display: inline-block;
}

.projects .filters .search-box-wrapper,
.solutii .filters .search-box-wrapper {
  width: 100%;
}

.solutii .filters #search-box,
.projects .filters #search-box {
  display: flex;
}

.solutii .filters #search-box input,
.projects .filters #search-box input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-width: 0;
}

.solutii .filters #search-box input.with-value,
.projects .filters #search-box input.with-value {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

.solutii .filters #search-box input::placeholder,
.projects .filters #search-box input::placeholder {
  font-style: italic;
  color: #999;
}

.solutii .filters #search-box .input-group-text,
.projects .filters #search-box .input-group-text {
  background: #fff;
  border-left-width: 0;
}

.solutii .filters,
.projects .filters {
  margin-bottom: 20px;
  width: 100%;
}

.solutii a.clear-all,
.projects a.clear-all {
  background: transparent;
  height: 100%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.solutii a.clear-all:hover,
.projects a.clear-all:hover {
  color: $albaRed;
}

.solutii .dynamic-content,
.projects .dynamic-content {
  position: relative;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.solutii .dynamic-content .smaller,
.projects .dynamic-content .smaller {
  width: 75%;
  min-height: 44px;
  margin: 0 auto;
}

.solutii #current-refined-values,
.projects #current-refined-values {
  display: inline-block;
}

.solutii .powered-by,
.projects .powered-by {
  display: block;
  text-align: right;
  font-size: 1.2rem;

  a {
    color: #999;
    vertical-align: top;
  }

  a:hover {
    color: #333;
    text-decoration: none;
  }

  .logo {
    padding-left: 2px;
  }

  .tagline {
    font-size: 0.8rem;
  }
}

.solutii .ais-search-box--input,
.projects .ais-search-box--input {
  box-shadow: none;
  color: #369;
  width: 300px;
  font-family: 'Roboto', sans-serif;
}

.solutii .ais-search-box--input:focus,
.projects .ais-search-box--input:focus {
  border: 1px solid rgb(206, 212, 218);
}

.solutii .ais-hits--item,
.projects .ais-hits--item {
  padding: 0 8px;
  animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.solutii .ais-hits.row,
.projects .ais-hits.row {
  margin: 0 -8px;
}

.solutii .ais-hits.row .project-box,
.projects .ais-hits.row .project-box {
  margin-bottom: 16px;
}

@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}

.solutii #current-refined-values a:hover {
  text-decoration: none;
  color: #666;
}

.solutii #current-refined-values .ais-current-refined-values--item,
.projects #current-refined-values .ais-current-refined-values--item {
  display: inline-block;
  margin-right: 15px;
}

.solutii #current-refined-values .ais-current-refined-values--item:last-child,
.projects #current-refined-values .ais-current-refined-values--item:last-child {
  margin-right: 20px;
}

.solutii #current-refined-values .ais-current-refined-values--item a,
.projects #current-refined-values .ais-current-refined-values--item a {
  font-size: 14px;
  color: #999;
}

.solutii #current-refined-values .ais-current-refined-values--item a span,
.projects #current-refined-values .ais-current-refined-values--item a span {
  margin-left: 8px;
  font-weight: 200;
  text-transform: lowercase;
}

.solutii #current-refined-values .ais-current-refined-values--clear-all,
.projects #current-refined-values .ais-current-refined-values--clear-all,
.solutii #current-refined-values .ais-current-refined-values--list,
.projects #current-refined-values .ais-current-refined-values--list {
  display: inline;
}

.solutii #current-refined-values .ais-current-refined-values--clear-all,
.projects #current-refined-values .ais-current-refined-values--clear-all {
  font-size: 14px;
  color: $albaRed;
  padding-left: 20px;
  border-left: 1px solid #999;
  display: inline;
}

.solutii #current-refined-values .ais-current-refined-values--clear-all div,
.projects #current-refined-values .ais-current-refined-values--clear-all div {
  display: inline;
}

.solutii .filters .facets-selector-wrapper .edge-btn,
.projects .filters .facets-selector-wrapper .edge-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.solutii .dynamic-content svg,
.projects .dynamic-content svg {
  max-width: 100%;
  opacity: 0.4;
}

@include media-breakpoint-down(md) {
  .solutii .filters .facets-selector-wrapper,
  .projects .filters .facets-selector-wrapper {
    width: 100%;
  }

  .solutii .filters .facets-selector-wrapper .btn-group,
  .projects .filters .facets-selector-wrapper .btn-group {
    width: 100%;
    flex-grow: 1;
  }

  .solutii .filters .facets-selector-wrapper .dropdown-toggle,
  .projects .filters .facets-selector-wrapper .dropdown-toggle {
    flex-grow: 1;
  }

  .solutii .filters .facets-selector-wrapper .edge-btn,
  .projects .filters .facets-selector-wrapper .edge-btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .solutii .filters #search-box,
  .projects .filters #search-box {
    display: block;
    margin-top: 25px;
    width: 100%;
  }

  .projects .filters .search-box-wrapper,
  .solutii .filters .search-box-wrapper {
    margin-top: 25px;
  }

  .solutii .filters #search-box input,
  .projects .filters #search-box input {
    width: unset !important;
    display: flex;
    flex-grow: 1;
  }

  .solutii .filters #search-box .input-group-text,
  .projects .filters #search-box .input-group-text {
    border-left-width: 1px;
  }

  .solutii .dynamic-content .smaller,
  .projects .dynamic-content .smaller {
    width: 100%;
  }
}

